{
  "presets": ["react", "stage-3", ["env", {
    "targets": {
      "browsers": ["> 2%", "IE 11", "safari > 9"]
    }
  }]],
  "plugins": [ "transform-object-rest-spread", [ "import",{"libraryName": "antd","style": 'css'} ] ]
}
