/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/

/* Global */
@site       : 'default'; /* not change */
@reset      : 'plain';

/* Elements */
@button     : 'plain';
@container  : 'plain';
@divider    : 'plain';
@flag       : 'plain';
@header     : 'plain';
@icon       : 'default'; /* not change */
@image      : 'plain';
@input      : 'plain';
@label      : 'plain';
@list       : 'plain';
@loader     : 'plain';
@rail       : 'plain';
@reveal     : 'plain';
@segment    : 'plain';
@step       : 'plain';

/* Collections */
@breadcrumb : 'plain';
@form       : 'plain';
@grid       : 'plain';
@menu       : 'plain';
@message    : 'plain';
@table      : 'plain';

/* Modules */
@accordion  : 'plain';
@checkbox   : 'plain';
@dimmer     : 'plain';
@dropdown   : 'plain';
@embed      : 'plain';
@modal      : 'plain';
@nag        : 'plain';
@popup      : 'plain';
@progress   : 'plain';
@rating     : 'plain';
@search     : 'plain';
@shape      : 'plain';
@sidebar    : 'plain';
@sticky     : 'plain';
@tab        : 'plain';
@transition : 'plain';

/* Views */
@ad         : 'plain';
@card       : 'plain';
@comment    : 'plain';
@feed       : 'plain';
@item       : 'plain';
@statistic  : 'plain';

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder  : 'site';

@import "~semantic-ui-less/theme.less";

/*******************************
         Import Theme
*******************************/

@import "theme.less";

@fontPath : "~semantic-ui-less/themes/default/assets/fonts";

/* End Config */
